<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%5.5t] %-5p %40.40c{3}:%-4L%m%n"/>
    </layout>
  </appender>


  <appender name="DEBUGLOG" class="org.apache.log4j.RollingFileAppender">
    <param name="file" value="${catalina.home}/logs/debug.log"/>
    <param name="MaxFileSize" value="10MB"/>
    <param name="MaxBackupIndex" value="3"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
    </layout>
  </appender>


  <category name="org.neo4j">
    <priority value="debug"/>
    <appender-ref ref="DEBUGLOG"/>
  </category>

  <category name="org.neo4j.server.web"><!-- additivity="false" -->
    <priority value="debug"/>
  </category>


  <root>
    <priority value="warn"/>
    <appender-ref ref="CONSOLE"/>
  </root>
</log4j:configuration>
